Send `Vary: Origin` header for responses

So since there is CORS support in WP-API if you have something like Varnish in front of the WP-API it will cache the same response for the first origin.

So if I do a request to /api/posts with origin `foo`, it will cache it, then if i do another request with origin `bar` it will return `Access-Control-Allow-Origin: foo`. Adding `Vary: Origin` caches each response separately, so was wondering if that should be something that should be included in the CORS functionality?


Per [RFC7231 section 4.3.7](https://tools.ietf.org/html/rfc7231#section-4.3.7):

> Responses to the OPTIONS method are not cacheable.

If your cache _is_ caching responses to the OPTIONS method, it's non-conformant to the HTTP spec, which is a bug. :)


I am not referring to OPTIONS requests, I am referring to GET requests.

Edit 1:
I am just proposing adding the Vary header for the "Simple requests" listed here:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Simple_requests. Hapi for instance does this automatically https://github.com/hapijs/hapi/blob/master/lib/cors.js#L157.


Re-opening provisionally as it sounds like the reason it was closed does not match the reason it was opened; ping @rmccue 


Ah, my apologies, I missed that this was a GET request. The same issue will already occur with other parts of core that send this header (admin-ajax, admin-post, customiser), so it's a bit of a wider WP issue than just an API issue. The function in core that sends these other ones is `send_origin_headers()`, the API-specific one is `rest_send_cors_headers()`.

I'd suggest filing an issue on [Trac](https://core.trac.wordpress.org/) to suggest adding it to all of these locations.


@pdufour @rmccue Sounds like once a trac ticket is opened we can close this one out


Opened https://core.trac.wordpress.org/ticket/38060#ticket. FYI I think it's not as much an issue with the endpoints you listed because typically with something like Varnish will not cache any wp-admin requests or any requests for logged in WP users.

But agree it'd be a good thing to handle it for all CORS requests rather than just the API requests.


Closing as superseded by the Trac ticket; thanks for opening that @pdufour !
